[mysqld]
datadir=${MySQL.dataDir}
socket=${MySQL.socket}
user=${MySQL.user}
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=${MySQL.logError}
pid-file=${MySQL.pidFile}